{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                Columna 1
            </div>
            <div class="col">
                Column 2
            </div>
            <div class="col">
                Column 3
            </div>
        </div>
    </div> 
{% endblock %}

